<!DOCTYPE html>
<html lang="en">
<head>
  <title>GourMate</title>
  <link rel="shortcut icon" href="assets/Hamburger.ico"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
  <link rel="stylesheet" href="assets/app.css"/>

  <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     */
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>

<body ng-app="kjApp" layout="row" ng-controller="MainAppController as ctrl" ng-cloak>
<ng-include src="'src/sidebar/views/sidebar.html'"></ng-include>

<div flex layout="column" class="md-whiteframe-z2">
  <md-toolbar layout="row" layout-align="start center" class="md-whiteframe-z1">
    <md-button class="md-margin menu" ng-click="ctrl.toggleLeftSidenav()">
      <md-icon>menu</md-icon>
    </md-button>
    <h1 flex class="brand center-title md-margin md-display-1">
      GourMate
    </h1>
    <!--<md-menu class="toolbar-right" ng-hide="ctrl.getCurrentUser()">-->
      <!--<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">-->
        <!--<md-icon>face</md-icon>-->
      <!--</md-button>-->
      <!--<md-menu-content width="3">-->
        <!--<md-menu-item>-->
          <!--<md-button ng-click="ctrl.loginWithGoogle()">-->
            <!--Sign in with Google-->
          <!--</md-button>-->
        <!--</md-menu-item>-->
      <!--</md-menu-content>-->
    <!--</md-menu>-->
    <!--<md-menu class="toolbar-right" ng-show="ctrl.getCurrentUser()">-->
      <!--<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">-->
        <!--<img class="toolbar-avatar"-->
           <!--ng-src="{{ctrl.getCurrentUser().google.profileImageURL}}">-->
      <!--</md-button>-->
      <!--<md-menu-content width="3">-->
        <!--<md-menu-item>-->
          <!--<md-button ng-click="ctrl.signOut()">-->
            <!--Sign out-->
          <!--</md-button>-->
        <!--</md-menu-item>-->
      <!--</md-menu-content>-->
    <!--</md-menu>-->
  </md-toolbar>
  <md-content flex ui-view layout="column">
  </md-content>
</div>

<script src="bower_components/angular/angular.min.js  "></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/nlp_compromise/client_side/nlp.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

<script src="src/app.js"></script>
<script src="src/boot.js"></script>
<script src="src/states.js"></script>
<script src="src/credentials.js"></script>
<script src="src/MainAppController.js"></script>
<script src="src/sidebar/sidebar.controller.js"></script>
<script src="src/speech/speech-recognition.service.js"></script>
<script src="src/speech/speech-synthesis.service.js"></script>
<script src="src/voice/voice-control.service.js"></script>
<script src="src/voice/voice-control.controller.js"></script>
<script src="src/voice/voice-command.service.js"></script>
<script src="src/recipes/recipe-list.controller.js"></script>
<script src="src/recipes/recipe-details.controller.js"></script>
<script src="src/recipes/recipe.service.js"></script>
<script src="src/recipes/current-recipe.service.js"></script>
<script src="src/local-storage.service.js"></script>
<script src="src/timers/TimerService.js"></script>
<script src="src/audioplayer.js"></script>
<script src="src/tempgraph.js"></script>
<script src="src/TemperatureService.js"></script>
<script src="src/extras/TechnologyController.js"></script>
<script src="src/UserService.js"></script>
</body>
</html>
