<md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
            md-component-id="left">
  <!--<md-toolbar class="md-padding md-whiteframe-z1">-->
    <!--<h1 class="md-display-1">What the f*** you looking at?</h1>-->
  <!--</md-toolbar>-->
  <md-list ng-controller="SidebarController as ctrl">
    <md-list-item>
      <h4 class="md-title">Navigate</h4>
    </md-list-item>
    <md-list-item ng-click="ctrl.navigateTo('recipeList')">
      <md-icon class="md-primary">view_list</md-icon>
      <p>View recipes</p>
    </md-list-item>
    <md-list-item ng-click="ctrl.goToCurrentRecipe()" ng-disabled="!ctrl.hasCurrentRecipe()">
      <md-icon class="md-primary">bookmark</md-icon>
      <div flex layout="column">
        <p class="no-margin">Current recipe</p>
        <p class="md-body-2 no-margin">{{ctrl.getCurrentRecipe().Title}}</p>
      </div>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <h4 class="md-title">Settings</h4>
    </md-list-item>
    <md-list-item>
      <p ng-hide="ctrl.recorderService.enabled">Enable voice controls</p>
      <p ng-show="ctrl.recorderService.enabled">Disable voice controls</p>
      <md-switch ng-model="ctrl.recorderService.enabled"></md-switch>
    </md-list-item>
    <md-divider></md-divider>
    <md-list-item>
      <h4 class="md-title">About</h4>
    </md-list-item>
    <md-list-item>
      <md-icon class="md-accent">people</md-icon>
      <p>The Team</p>
    </md-list-item>
    <md-list-item>
      <md-icon class="md-accent">build</md-icon>
      <p>The Technology</p>
    </md-list-item>
  </md-list>
</md-sidenav>
