html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar {
  min-height: initial;
}

.align-self-center {
  align-self: center;
}

/* Recipe list */


.recipe-view {
  width: 50%;
}

.recipe-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.no-margin {
  margin: 0;
}

.tile-image {
  width: 100%;
}

.voice-notice {
  margin-left: 14px;
}

/* Charts */
path.line {
  fill: none;
  stroke: #FF5722;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font: 13px 'Roboto', sans-serif;
}

@font-face {
  font-family: MJFZhafira;
  src: url(zhafira.ttf);
  font-weight: bold;
}

.brand {
  font-family: MJFZhafira, sans-serif;
  text-align: center;
}
