html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar {
  min-height: initial;
}

.align-self-center {
  align-self: center;
}

/* Recipe list */


.recipe-view {
  width: 50%;
  background: white;
}

.recipe-avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.no-margin {
  margin: 0;
}

.voice-notice {
  margin-left: 14px;
}

/* Charts */
path.line {
  fill: none;
  stroke: #FF5722;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font: 13px 'Roboto', sans-serif;
}

@font-face {
  font-family: MJFZhafira;
  src: url(zhafira.ttf);
  font-weight: bold;
}

.brand {
  font-family: MJFZhafira, sans-serif;
}


.center-title {
  text-align: center;
}

.recipe-main-view {
  background-image: url(/assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.team-avatar {
  border-radius: 50%;
  width: 192px;
  height: 192px;
}

.google-signin {
  background-image: url(/assets/google_signin_buttons/web/1x/btn_google_signin_light_normal_web.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  background-color: white;
}

.toolbar-avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

md-toolbar .md-menu.toolbar-right {
  margin: 0 24px;
}

.responsive-img {
  width: 100%;
}

.secondary-text {
  color: rgba(0, 0, 0, .54);
}

.recipe-tile-footer {
  background: rgba(0, 0, 0, .54);
  height: 96px;
}
.tile-image {
  width: 100%;
}

.big-icon {
  font-size: 48px;
  height: 48px;
  width: 48px;
}

.yummly-attribution {
  align-self: flex-end;
}
